<% include common/header.ejs %>
<% include common/t-panel.ejs %>
<div class="container-fluid main-container">
    <div class="row">
        <% include common/order-main-panel.ejs %>
        <% include common/order-right-panel.ejs %>
    </div>
</div>
<% include common/bottoms.ejs %>
<% include common/footer.ejs %>