<div class="right-panel">
    <div class="top-part">
        <span class="order-list-title">
                    order diversity:
                    <span class="order-count">0</span>
                </span>

        <span class="clear-order">
                    clear order
                </span>
    </div>
    <div class="main-part">
        <div id="cart">

        </div>
    </div>
    <div class="bottom-part">
        <span class="total-price-title" style="">
        </span>
        <span class="total-price" style="">

                </span>
        <div class="place-order-button">

            <input onclick="window.location.href='order.html'"  id="place-order" type="button" value="place order" class="button btn btn-warning btn-lg btn-block button-order">

        </div>
    </div>
</div>