<div class="left-panel">
    <div class="page-title">
        <h2>
            <span class="main-title">Choose yours</span>
        </h2>
    </div>
    <div class="all-pizza-type-wrap">
        <ul class="nav nav-pills all-pizza-type">
            <li role="presentation" class="active pizza-filter-button" id="all-pizza">
                <a href="#">
                    All pizzas
                </a>
            </li>
            <li role="presentation" class="pizza-filter-button" id="premium">
                <a href="#">
                    Premium
                </a>
            </li>
            <li role="presentation" class="pizza-filter-button" id="mozzarella">
                <a href="#">
                    Mozzarella
                </a>
            </li>
            <li role="presentation" class="pizza-filter-button" id="pineapples">
                <a href="#">
                    Pineapples
                </a>
            </li>
            <li role="presentation" class="pizza-filter-button" id="meat">
                <a href="#">
                    Meat
                </a>
            </li>
            <li role="presentation" class="pizza-filter-button" id="vega">
                <a href="/#">
                    Vega
                </a>
            </li>

        </ul>
    </div>
    <div class="row pizza-list container-fluid">
        <div class="main-pizza">
            <div class="row" id="pizza_list">
            </div>
        </div>
    </div>

</div>

