<div class="top-panel">
    <div class="middle">
        <div class="upper-row">
            <div class="upper-row-items">
                <div class="main-header-top-item phone-number visible-xs-inline-block visible-sm-inline-block visible-lg-inline-block visible-md-inline-block">
                    8 800 555 35 35
                </div>
                <div class="main-header-top-item work-days visible-lg-inline-block visible-md-inline-block">
                    24/7 service
                </div>
                <div class="main-header-top-item delivery visible-lg-inline-block">
                    Free pizza delivery on orders over 300 UAH
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" class="sign-up-label"><span class="glyphicon glyphicon-user"
                                                               style="color: #f0ad4e"></span> sign up</a>
                    </li>
                    <li><a href="" class="sign-in-label"><span class="glyphicon glyphicon-log-in"
                                                               style="color: #f0ad4e"></span> log in</a></li>
                </ul>
            </div>
        </div>

        <div class="header-down-row">
        <span class=" pizza-page" style="color:white;">
            <span style="color:white;" class="hidden-xs"></span> &nbsp;
        </span>

        </div>
    </div>
</div>

<div class="badge-top">
    <div class="class">Pizza
        <div style="padding-top: 5px; font-weight: bold"><a href="/#" style="color:white">Kmizza</a></div>
    </div>
    <img src="assets/images/discount.svg">
</div>